<% layout("/layouts/boilerplate") %>

<div class="row show-row">
  <div class="col-12 col-lg-6 mt-3">
    <h2 class="e-h2 mt-3">Edit Listing</h2>
    <br />
    <div class="e-content">
      <form
        method="POST"
        action="/listings/<%=listing._id%>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%=listing.title%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valide Title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea
          >
          <div class="invalid-feedback">Please enter a valide Description</div>
        </div>

        <div class="mb-3">
          <p class="form-label">Original Image</p>
          <img
            src="<%= originalImageUrl %>"
            style="border-radius: 1rem; height: 150px !important"
          />
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" name="listing[image]" class="form-control" />
        </div>

<label class="form-label">Category</label>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">
          
          <% const categories =
          ['Mountain','Beach','Villas','Camping','Forest','Desert','Hotel','Waterfall'];
          %> <% categories.forEach(cat => { %>
          <div class="flex items-center category-icon">
            <input type="checkbox" id="category-<%= cat.toLowerCase() %>"
            name="listing[category][]" value="<%= cat %>" <%= (listing &&
            Array.isArray(listing.category) && listing.category.includes(cat)) ?
            'checked' : '' %> class="h-4 w-4 text-indigo-600 border-gray-300
            rounded">
            <label
              for="category-<%= cat.toLowerCase() %>"
              class="ml-2 text-gray-700"
              ><%= cat %></label
            >
          </div>
          <% }) %>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              value="<%=listing.price%>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valide</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%=listing.country%>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valide</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%=listing.location%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valide</div>
        </div>

        <button class="btn e-btn btn-primary mt-3">Edit</button>
      </form>
    </div>
  </div>
</div>
